header {
    .nav__index {
        background-image: url(../imagenes/narval.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
       
         ul {
            justify-content: space-around;


            @for $navItem from 1 through 5 {
                
                .nav-item:nth-child(#{$navItem}) {
                    animation-delay: $navItem*0.2s;
                }

                @media only screen and (max-width: 992px) {
                    
                    @for $navItem from 1 through 5 {
                
                        .nav-item:nth-child(#{$navItem}) {
                            animation: none;
                        }
            
                }
                
            }
            
            li {
                list-style: none;


                a {
                  text-decoration: none;
                  color: $mainWhiteColor;
                  cursor: pointer;
                  font-size: 20px;
                  font-weight: bold;
                
                &:hover {
                    color: #d6ccc2;
                }
                }
            }

         }

         
    }
}

img {
    width: 150px;
    display: flex;
 }

}