 audio {
    border-radius: 20px;
 }
.imgfotos {
    height: 500px;
    
}

.fondo__fotos {
    background-color: map-get($colorsecciones , blanco );
}

.img__narvales {

    background-position: center;
    background-size: contain;
}

.box__narvales--azul {
    background-color: $mainColorIndex;
    

    .box__narvales {
        h2 {
        color: map-get($colorsecciones , blanco );
        
        }

        p {
            color: map-get($colorsecciones , blanco );
        }
    }
}

.box__narvales {
    @include flex-center();
    flex-direction: column;
   

.titulos__fotos {
    @include flex-center(); 
    color: $mainColorIndex;
    font-size: 5vw;
    font-weight: 900;
    font-family: titulo;
}

.p__fotos {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    color: $mainColorIndex;
    font-family: parrafo;
}

.p__fotos--azul {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    color: $mainColorIndex;
    font-family: parrafo;

}
}

.ballenato {
    background-image: url(../imagenes/fotos/ballenato.jpg);
    height: 100vh;
    animation: movimiento 20s infinite linear alternate;
    background-size: 1750px;
    background-repeat: no-repeat;
}

.orca {
    background-image: url(../imagenes/fotos/orca3.jpg);
    height: 100vh;
    animation: movimiento 20s infinite linear alternate;
    background-size: 1800px;
    background-repeat: no-repeat;
    
}
@keyframes movimiento{
    from{
    background-position: bottom right;
    }to{
background-position: top left;
    }
}

.container__tortugon {
    @extend %fotosContainer;
    border-radius: 0;
}

.tortugon { 
    background-image: url(../imagenes/fotos/tortugon.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    @extend %fotos;
    border-radius: 0;
    border: none;
}

.p__fotos--orca {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    color: $mainWhiteColor;
    font-family: parrafo;
}


.content-todo{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
    height: 150px;
    background-color: $mainWhiteColor;
}

.content-carrousel-todo{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    
}

.content-carrousel-todo:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel-todo figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel-todo figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel-todo figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel-todo figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel-todo img{
    width: 100%;
    transition: all 300ms;
    height: 100%;
}

.content-carrousel-todo img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

//Animales Mitologicos

.titulos__mitologicos {
    @include flex-center(); 
    color: $mainWhiteColor;
    font-size: 5vw;
    font-weight: 900;
    font-family: titulo;
    background-color: $mainColorIndex;
}

.titulos__mitologicos--sub {
    @include flex-center(); 
    color: $mainWhiteColor;
    font-weight: 900;
    font-family: titulo;
    background-color: $mainColorIndex;
    padding-top: 20px;
    padding-bottom: 20px;

}

.the__bloop {
    background-image: url(../imagenes/bloop.jpg);
    
}

.p__mitologicos{
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    color: $mainColorIndex;
    font-family: parrafo;
}


.bloop-escala {
    padding: 0;
    margin: 0;
    img {
    
    background-size: cover;
    background-repeat: no-repeat;
    
}
}

.bloop-escala-text {
    text-align: center;
    font-family: parrafo;
    font-size: 20px;
    color: $mainColorIndex;
    display: flex;
    align-items: center;
}

.everest-marianas {
    padding: 0;
    margin: 0;
    img {
    
    background-size: cover;
    background-repeat: no-repeat;
    
}
}

//Kraken

.kraken {

    background-position: center;
}

.subtitulos {
    @include flex-center(); 
    color: $mainColorIndex;
    font-size: 35px;
    font-weight: 900;
    font-family: titulo;
   
    

}

.p__subtitulos {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    color: $mainColorIndex;
    font-family: parrafo;

}

.kraken__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Nessi

.nessi {

    background-position: center;
}

//Leviatan 

.leviatan {
    
    background-position: left;

}

//ningen 

.ningen {
    
    background-position: center;
}