.box__body--donar {
   

@font-face {
font-family: titulos;
src: url(..font/Brandon_bld.otf);

font-family: parrafos;
src: url(../font/Brandon_light.otf);
}



    .h1__main {
        text-align: center;
        color: #343a40;
        font-size: 46px;
        font-family: titulos;
    
    }

    .p__contacto {
        text-align: center;
        color: #343a40;
        font-size: 20px;
        margin-bottom: 0;
        font-family: parrafos;
        
    }
   
   .img__contacto {
    background-image: url(../imagenes/contacto.jpg);
    height: 450px;
    
   }

   .como__donar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
   }

   .quienes__somos--main {
    border-radius: 0;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
 .quienes__somos {
    border-radius: 0;
    
 

    h2 {
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-family: titulos;
    }

    ol {
        li {
            font-size: 20px;
            font-family: parrafos;

            a {
                color: blue;
                font-family: parrafos;
            }
        }
    }
 }

 //contacto


    .contacto {
        background-color: #fff;
        
        

        h2 {
            color: #343a40;
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            font-size: 40px;
        }


        .h1__donaciones {
            color: #343a40;
            font-size: 25px;
        }
    }
}