video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  } 


.bienvenida__index {
    
    display: grid;
    grid-column: 1 / 11;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: $alingTCenter;
    background-color: $mainColorIndex;

    h1 {
        color: $mainWhiteColor;
        letter-spacing: 5px;
        font-size: 30px;
    }
    
}
.bienvenida__index--h2 {
   
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: $alingTCenter;  
    
    h2 {
        grid-column: 3 / 9;
        background-color: $mainColorIndex;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 25px;

    }
    
}
.centro {
    height: fit-content;  
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: $alingTCenter;
    grid-row: 1 / 7;
    
    .info__content {
        grid-column: 3 / 9;
        grid-row: 1 / 7;

       
   
        h2 {
            padding-bottom: 5px;
            color: $mainWhiteColor;
        }   
        

        h3 {
            padding-bottom: 10px;
            color: $mainWhiteColor;
            font-size: 20px;
        }
    
        .button {
            font-size: 1em;
            background: none;
            color: #edede9;
            padding: 10px 20px;
            border: 1px solid;
            border-radius: 30px;
            margin-top: 10px;

            a {
                text-decoration: none;
                color: $mainWhiteColor;

                &:hover {
                    color: #161a1d;
                }
            }
        }
    
    }


    .seccion__izquierda {
        grid-column: 1 / 3;
    
        ul {
           li {
            margin-top: 10px;

            a {
                text-decoration: none;
                color: $mainWhiteColor;
                font-size: 19px;
            }
           }
        }

        h2 {
            font-size: 20px;
            margin: 10px;
            padding: 10px;
            border: 3px solid white;
            border-radius: 10px;
            background-color: $mainColorIndex;
            font-weight: 900;
            letter-spacing: 3px;
            color: $mainWhiteColor;
        }
    }

    

}

.menu__derecha {
    display: grid;
    grid-column: 9 / 12;
    background-color: $mainColorIndex;
    z-index: 99;
    border-bottom-left-radius: 20px;
    height: fit-content;

    ul{
        display: block;
        position: relative;
        overflow: hidden;
        padding: 3vw 2.8228228228vw 1vw 2.8228228228vw; 
        
        li {

            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 2vw;
            margin-bottom: 2vw;
            border-bottom: 1px solid #fff;
            padding-left: 1vw;
            padding-right: 1vw;
            color: $mainWhiteColor;

            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                border: 0;
            }

            h3 {
                color: $mainWhiteColor;
            }
        }
    }

    .clima {
        padding-left: 0;
        padding-bottom: 0;
        margin-top: -2vw;
        padding: 0vw 2.8228228228vw 0vw 2.8228228228vw;
    }
}

.nadar__h2 {
    background-color: $mainColorIndex;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $mainWhiteColor; 
    margin-bottom: 0; 
    @include flex-center(); 
}

.nadar {
    background-color: map-get($colorsecciones, blanco );
    
    .box__nadar--contenedor {
        margin-top: 20px;
   

    .img__nadar--container {
       @extend %fotosContainer;
        
    .img__nadar {
        @extend %fotos;
    }
  }
 

    .box__texto {
        margin-top: 10px;
        @include flex-center();
    
        .ballena__icon {
            width: 200px;
        }

        .box__titulo--texto {
            @include flex-center();
            
        }
    
        .box__texto--mensaje {
            @include flex-center();
            font-size: 20px;
        }
    }

    }
}

.delfin__img {
    height: 400px;  
}

.delfines {
    background-color: map-get($colorsecciones, blanco );
    

    .border__delfin {
        border-radius: 20px;
       margin-left: 12px;
     
    }
    
    

    .delfines__padding {
        @include flex-center();


        h3 {
            align-items: $alingICenter;
            text-align: $alingTCenter;
        }

        ul {
            li {
                padding: 10px;
                font-size: 20px;
            }
            }
    }
}

.pinguino__main {
    background-color: map-get($colorsecciones, azul );
    

    .pinguino__img--container {
        @extend %fotosContainer;

    img {
       @extend %fotos;
     }
    }

    .pinguino__textAling {
        @include flex-center();
       
        p {
            font-size: 20px;
            color: #e8eff3;

            span {
                font-size: 40px;
            }
        }
    }
}


